#showAll {
        margin: 20px;
        text-align: center;
}

#wholeApp {
    display: flex;
    flex-direction: center;
}

#input {
    margin: 20px;
}

/* #result {
    /* border-radius: 2px;
    border-color: black; */
} */